---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Brazilian Modernism Design System">
  <main>
    <h1>Modernismo Brasileiro</h1>
    <p>Unificando o ecossistema Franklin Baldo.</p>
  </main>
</BaseLayout>
